@mixin dots($color){
    background-color: $color;
    box-shadow: $dot-space 0 0 $color,
                -$dot-space 0 0 $color;
}

.heading-dot {
    font-size: 3.5rem;
    font-weight: 300;

    &--left {text-align: left;}
    &--center{
        text-align: center;

        &::before{
            margin-right: auto;
            margin-left: auto !important;
        }
    }

    &::before {
        content: "";
        display: block;
        width: 1.9rem;
        height: 1.9rem;
        margin-left: $dot-space;
        border-radius: 100%;
        margin-bottom: 1rem;
    }

    &--yellow::before{@include dots($color-primary);}

    &--white{
        color: $color-white-light;
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        &::before{
            margin-bottom: 0;
            margin-right: 3.5rem;

            @include dots($color-white-light);
        }
    }
}

.heading--3 {
    font-size: 2.4rem;
    color: $color-grey;
    font-weight: 700;
}

.highlighted-text {
    font-weight: bold;
}