.heading-dot {
    font-size: 3.5rem;
    font-weight: 300;

    &--left {text-align: left;}
    &--center{text-align: center;}

    &::before {
        content: "";
        display: block;
        background-color: $color-primary;
        width: 1.9rem;
        height: 1.9rem;
        border-radius: 100%;
        box-shadow: 2.5rem 0 0 $color-primary,
                    5rem 0 0 $color-primary;
        margin-bottom: 1rem;

    }
}
