@mixin flex-center-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin wrapperRWD(){
    @media only screen and (min-width: $bp-largest) {
        padding:0 19rem;
    }

    @media only screen and (max-width: $bp-largest) {
        padding:0 15rem;
    }
    
    @media only screen and (max-width: $bp-medium) {
        padding:0 11rem;
    }
    
    @media only screen and (max-width: $bp-small) {
        padding:0 5rem 
    }

    @media only screen and (max-width: $bp-tiny) {
        padding:0 3rem 
    }

}

@mixin buttonBackground($base_color, $base_color_dark){
    background-color: $base_color_dark;
    color: $color-white-dark; 
    border: 5px solid $base_color;

    &:hover{
        background-color: $base_color;
        border-color: $base-color-dark;
    }
}