@mixin flex-center-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin wrapperRWD($width){
    .wrapper{
        width: $width;
    }
}

@mixin buttonBackground($base_color, $base_color_dark){
    background-color: $base_color_dark;
    color: $color-white-dark; 
    border: 5px solid $base_color;

    &:hover{
        background-color: $base_color;
        border-color: $base-color-dark;
    }
}