// COLORS
$color-primary: #F4D459;
$color-blue: #90CCF4;
$color-red: #FF7788;
$color-white-light: #FFFFFF;
$color-white-dark: #ECECEC;
$color-black: #000000;
$color-grey: #4C4C4C;

//FONTS
$font-primary: 'Roboto', sans-serif;

//MEASUREMENTS
$wrapper: 15rem;
$dot-space: 2.5rem;
//BREAKPOINTS
$bp-largest: 93.75em; //1500px
$bp-small: 59.38em; //950px
