// COLORS
$color-primary: #F4D459;
$color-blue: #90CCF4;
$color-blue-dark: #5b7d94;
$color-red: #FF7788;
$color-red-dark: #ad4955;
$color-white-light: #FFFFFF;
$color-white-dark: #ECECEC;
$color-black: #000000;
$color-grey: #4C4C4C;

$shadow-light: 0 0 15px 2px rgba($color: #000000, $alpha: .2);

//FONTS
$font-primary: 'Roboto', sans-serif;

//MEASUREMENTS
$wrapper: 19rem;
$dot-space: 2.5rem;

//BREAKPOINTS
$bp-largest: 93.75em; //1500px
$bp-medium: 81.25em; //1300px
$bp-small: 62em; //950px


@media only screen and (max-width: $bp-largest) {
    $wrapper: 15rem !global;
}

@media only screen and (max-width: $bp-medium) {
    $wrapper: 12rem !global;
}