.contact {
    background: 
        url("./../img/hire.svg") top left,
        url("./../img/arrows-white.svg") 100% repeat-y,
        $color-primary;
    background-size: 100%, contain;
    
    //Margin collapsing fix 
    padding-top: 6.6rem;
    padding-bottom: 8rem;
    margin-top: -1px;

    @media only screen and (max-width: $bp-tiny) {
        padding-left: 0;
        padding-right: 0;
    }

    &__header {
        margin-top: 3rem;
        @media only screen and (max-width: $bp-tiny) {
            padding-left: 4rem;
        }
    }

    &__container {
        position: relative;
        display: grid;
        grid-template-columns: 60% 40%;
        background-color: $color-white-light;
        border-radius: 2.5rem;
        margin: 4rem auto;
        padding: 5rem;
        width: 75%;

        box-shadow: $shadow-light;

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
        }

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 100%;
            grid-template-rows: auto;
            width: 85%;
        }

        @media only screen and (max-width: $bp-tiny) {
            width: 95%;
            
        }
    }

    &__form {
        margin-top: 7rem;
        @media only screen and (max-width: $bp-tiny) {
            margin-top: 5rem;
        }
    }

    &__right {
        position: absolute;
        right: 0;
        top: -5%;

        height: 110%;
        width: 40%;

        background-color: $color-white-dark;
        background: url('./../img/back-paint-contact.svg'),$color-white-dark;
        background-size: cover;
        border-radius: 2.5rem;
        color: $color-white-dark;
        box-shadow: $shadow-light;

        @media only screen and (max-width: $bp-small) {
            bottom: unset;
            top: unset;
            width: 100%;
            height: auto;
            position: relative;
            background-color: $color-blue-dark;
        }

        @media only screen and (max-width: $bp-tiny) {
            
        }
    }

    &__heading {
        color: $color-white-light;
        margin: 6rem 4rem;

        &--black {
            @media only screen and (max-width: $bp-tiny) {
                font-size: 3rem;
            }
        }
    }

    &__links {
        margin: 7rem 4rem;
        list-style-type: none;
        @media only screen and (max-width: $bp-tiny) {
            margin: 7rem 1.5rem;            
        }
    }

    &__item {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        margin: 2rem 0;
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-white-light;
    }

    &__icon-overlay {
        min-width: 4rem;
        aspect-ratio: 1/1;
        margin-right: 1.5rem;

        background-color: $color-blue;
        border-radius: 100%;

        @include flex-center-center;
    }

    &__link {
        color: $color-white-dark;
    }

    &__figure {
        width: 90%;
        position: absolute;
        bottom: 0px;
        left: 25%;

        @media only screen and (max-width: $bp-small) {
            right: 0;
            left: unset;
            width: 50%;
        }
        
    }

    &__image {
        width: 100%;
    }
}