.contact {
    background: $color-primary;

    //Margin collapsing fix 
    padding-top: 6.6rem;
    padding-bottom: 8rem;
    margin-top: -1px;

    &__header {
        margin-top: 3rem;
    }

    &__container {

    }

    &__form {

    }

    &__options {

    }

    &__heading {

    }

    &__links {

    }

    &__item {

    }

    &__icon {

    }

    &__link {

    }
}