.home {
    height: 100vh;
    position: relative;
    
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-content: center;
    align-items: center;

    &__fig {
        width: 100%;
        opacity: 1;
        // height: 100%;
    }

    &__img {
        width: 100%;
    }

    &__links{
        position: absolute;
        left: $wrapper;
        bottom: .5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    &__icon {
        fill: $color-grey;
        width: 3rem;
        height: 3rem;
    }

    &__paint {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0%;
        background: url('./../img/shapes.svg'),
                    url('./../img/back-paint.svg');
        z-index: -1;

        background-size: contain,cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
}

.hero {
    &__name {
        display: block;
        font-weight: 400;
        font-size: 2.8rem;
        color: $color-white-light;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    &__header {
        font-size: 9.2rem;
        font-weight: 700;
        color: $color-black;

        &--highlight {
            color: $color-white-dark;
            text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.6);
        }
    }

    &__buttons{
        display: flex;
        flex-direction: row;
        margin-top: 2.7rem;
    }
}