.portfolio {
    background: url("./../img/stars.svg"), rgba($color-white-dark,.35);
    background-repeat: repeat-y;
    background-position: 0%;
    background-size: 35%;
    padding-top: 8rem;
    padding-bottom: 8rem;

    @media only screen and (max-width: $bp-tiny) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 9rem;
        margin-top: 3.5rem;
    }
}