.button {
    display: block;
    min-width: 15rem;
    font-size: 1.9rem;
    font-weight: bold;
    padding: 1.2rem 1.7rem;
    text-align: center;
    white-space: nowrap;
    border-radius: 2.5rem;
    cursor: pointer;

    &--blue{
        @include buttonBackground($color-blue, $color-blue-dark);
    }
    
    &--red{
        @include buttonBackground($color-red, $color-red-dark);
    }

    transition: width .2s ease-in-out;
}