.button {
    display: block;
    font-size: 1.9rem;
    padding: 1.2rem 0;
    text-align: center;
    width: 50%;
    white-space: nowrap;

    &--blue{background-color: $color-blue; color: $color-grey; border: 2px solid $color-blue}
    &--red{background-color: $color-red; color: $color-white-dark;  border: 2px solid $color-red}

    transition: width .2s cubic-bezier(0,1,1,0);

    &:hover{
        width: 100%;
        background-color: $color-white-dark;
        color: $color-grey;
        border: 2px solid $color-grey;
    }
}