.project {
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: auto;
    background-color: $color-white-light;
    border-right: .6rem solid $color-primary;
    border-left: .6rem solid $color-primary;

    box-shadow: 0px -10px 17px 0px rgba(0,0,0,0.2);

    &__figure {
        min-height: 37rem;
        background-color: $color-white-dark;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__info {
        padding: 3rem 2.7rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
    }

    &__header{
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__date {
        font-size: 1.4rem;
        font-weight: 300;
        display: block;
        margin-top: .5rem;
    }

    &__desc {
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-top: auto;
    }

    &__button {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 300;
        color: $color-black;
        position: relative;

        width: fit-content;

        &:hover {
            font-size: 1.85rem;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 20%;
            top: calc(50% - .6rem);

            width: 80%;
            height: 1rem;
            background-color: rgba($color-primary,.7);
            z-index: 1;
        }
    }

    &__link {
        z-index: 2;
    }

    &__icon {
        width: 2.9rem;
        height: 2.9rem;
        margin-right: .4rem;
        z-index: 2;
    }
}