.footer {
    background-color: $color-grey;
    color: $color-white-light;
    padding-top: 2rem;
    padding-bottom: 1rem;

    text-align: center;

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }

    &__link {
        display: block;
        margin: 0 1rem;
    }

    &__icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: $color-white-light;
    }

    &__copyright {
        font-size: 1.4rem;
    }
}