.header {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &__logo {
        display: block;
        font-size: 3.7rem;
        font-weight: 900;
        color: $color-white-light;
    }
}