.header {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    transition: padding .2s ease;

    &__logo {
        display: block;
        font-size: 3.7rem;
        font-weight: 900;
        color: $color-white-light;
    }

    &--scrolled {
        background-color: rgba($color-primary,.9);
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

.menu-button {
    position: relative;
	display: none;
	padding: 1.5rem;
	background-color: $color-white-light;
    border-radius: 100%;

    @media only screen and (max-width: $bp-small) {
        display: block;
    }
}

.burger-icon {
    @include burger(2.8rem, .4rem, .5rem, $color-black);
}

.menu-button.is-active .burger-icon {
	@include burger-to-cross;
}