.nav {
    
    @media only screen and (max-width: $bp-small) {
        position: fixed;
        right: -80vw;
        top: 0;
        background: 
        url("./../img/arrows.svg") 100% repeat-y,
        $color-white-light;
        background-size: 50%, contain;
        height: 100vh;
        width: 80vw;
        transition: all .2s ease-in-out;

        @include flex-center-center;
    }

    &--opened {
        @media only screen and (max-width: $bp-small) {
            right: 0vw;
            box-shadow: $shadow-light;
        }
    }

    &__list {
        list-style-type: none;

        display: grid;
        grid-template-columns: repeat(4,max-content);
        column-gap: 6rem;

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4,10rem);
        }
    }

    &__item {
        font-size: 2rem;
        font-weight: 300;
        position: relative;

        @media only screen and (max-width: $bp-small) {
            font-size: 4rem;
            text-align: center;
            align-self: center;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: .2rem;
            background-color: transparent;
            bottom: -2px;
            left: 0;
        }

        &:not(:last-child)::after{
            content: "";
            display: block;
            width: 1rem;
            height: 1rem;
            border-radius: 100%;

            position: absolute;
            right: -3.5rem;
            top: 35%;

            @media only screen and (max-width: $bp-small) {
                display: none;
            }
        }

        &--home::after{background-color: $color-red;}
        &--portfolio::after{background-color: $color-blue;}
        &--about::after{background-color: $color-white-dark;}

        &:hover:before{
            background-color: $color-white-light;
            @media only screen and (max-width: $bp-small) {
                background-color: black;
            }
        }

        a { color: $color-black;}
    }
}